{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "10"
      }
    }],
    ["minify", {
      "keepFnName": true
    }]
  ],
  "plugins": [
    "lodash",
    ["module-resolver", {
      "root": ["./src"]
    }]
  ],
  "env": {
    "production": {
      "comments": false,
      "minified": true,
      "sourceMaps": "inline"
    }
  }
}
