@import '../../../../styles/base';

.container {
  @extend .flex-column-center;
  padding-top: 4rem !important;
}

.section {
  @extend .flex-column-center;
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}
