@import '../../variables';
.App {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
a {
  text-decoration: none;
  &:visited {
    text-decoration: none;
    color: inherit;
  }
}
.Button {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 10px;
  border: 1px;
  border-color: $primary;
  cursor: pointer;
  height: 2rem;
  width: 100%;
  &:hover {
    background-color: $primary;
    color: white;
  }
}
.Input {
  font-size: 1.2rem;
  flex-grow: 1;
  border: 0px;
  border-bottom: 4px solid $mediumGray;
  background: none;
  width: 100%;
  &-Label {
    font-size: 1.5rem;
    margin-top: 1rem;
    display: block;
    background-color: none;
  }
  &:focus {
    outline: 0;
    border-color: $primary;
  }
}
