.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
}
.pane {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-basis: 60%;
}
.settings {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.avatar {
  &-new {
    &-droptext {
      height: 100%;
      font-size: 1.3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &-current {
    width: 100%;
    max-width: 13rem;
    height: auto;
    cursor: pointer;
  }
}


.ImageManager {
  display: flex;
  flex-direction: row;
  .Preview {
    width: 10rem;
    height: auto;
  }
}
.meta {
  display:flex;
  flex-basis: 60%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  margin-top: 2rem;
}
