{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "8"
      }
    }]
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"]
    }]
  ],
  "env": {
    "production": {
      "comments": false,
      "minified": true,
      "sourceMaps": "inline"
    }
  }
}
