name: NPM Package Publish

on:
  push:
    branches:
      - master
      - next

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.6.0
        with:
          access_token: ${{ github.token }}

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Use Node 12
        uses: actions/setup-node@v2.1.3
        with:
          node-version: 12
          registry-url: https://registry.npmjs.org/

      - name: Get yarn cache
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@v2.1.4
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('yarn.lock') }}

      - name: Install Dependencies
        env:
          HUSKY_SKIP_INSTALL: 1 # Skip install of Husky
        run: yarn install --frozen-lockfile

      - name: Check Lint
        run: yarn lint

      - name: Run Tests
        run: |
          git config --global user.name "Test User"
          git config --global user.email "test@test.com"
          yarn test:cov

      - name: Check version changes
        uses: EndBug/version-check@v2
        id: check

      - name: Version update detected
        if: steps.check.outputs.changed == 'true'
        run: 'echo "Version change found! New version: ${{ steps.check.outputs.version }} (${{ steps.check.outputs.type }})"'
  
      - name: Publish
        if: steps.check.outputs.changed == 'true'
        id: publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_REF: ${{ github.ref }}
        run: |
          npm publish $([ "$GITHUB_REF" == 'refs/heads/next' ] && echo '--tag next')
          echo "::set-output name=version::$(cat package.json | jq -r '.version')"

      # - name: Semantic Release
      #   id: semantic
      #   uses: cycjimmy/semantic-release-action@v2
      #   with:
      #     semantic_version: ^17.0.4
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #     NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      #     NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Upload Code Coverage (Codecov)
        if: steps.check.outputs.changed == 'true' && success()
        env:
          CODE_COV: ${{ secrets.CODE_COV }}
        run: bash <(curl -s https://codecov.io/bash) -f coverage/lcov.info

      - name: Create Release
        if: github.ref == 'refs/heads/master' && steps.check.outputs.changed == 'true'
        id: create_release
        uses: actions/create-release@latest
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          tag_name: v${{ steps.publish.outputs.version }}
          release_name: v${{ steps.publish.outputs.version }}
          draft: false
          prerelease: false